<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_key</key>
	<string>5e1c36a08f90bafe013d7deaaba7f411</string>
	<key>app_id</key>
	<string>9ecb9b3e</string>
</dict>
</plist>
